#!/bin/bash

MAGENTO_USERNAME=400f801ad39cce7d825f833c8e0b9af9
MAGENTO_PW=24ff30570029dfe11b3f553c7e236c0e

MAGENTO_URL=localhost
MAGENTO_LANGUAGE=en_GB
MAGENTO_TIMEZONE=Pacific/Auckland
MAGENTO_DEFAULT_CURRENCY=NZD
MAGENTO_BACKEND_FRONTNAME=admin
MAGENTO_USE_SECURE=0
MAGENTO_BASE_URL_SECURE=0
MAGENTO_USE_SECURE_ADMIN=0

MAGENTO_ADMIN_FIRSTNAME=Admin
MAGENTO_ADMIN_LASTNAME=MyStore
MAGENTO_ADMIN_EMAIL=amdin@example.com
MAGENTO_ADMIN_USERNAME=admin
MAGENTO_ADMIN_PASSWORD=magentorocks1

MYSQL_HOST=localhost
MYSQL_ROOT_PASSWORD=testpassword
MYSQL_MAGENTO_USER=magento
MYSQL_MAGENTO_PASSWORD=magento_pw
MYSQL_MAGENTO_DATABASE=magento
MYSQL_MAGENTO_PREFIX=mg_

PHPMYADMIN_APP_PW=myadminPw
PHPMYADMIN_PW=myadminPw
PHPMYADMIN_DB_PW=myadminPw

#Options build for Certbot
SSL_CERTIFICATE_FILE=/etc/letsencrypt/live/example.com/cert.pem
SSL_CERTIFICATE_KEY_FILE=/etc/letsencrypt/live/example.com/privkey.pem
SSL_CERTIFICATE_CHAIN_FILE=/etc/letsencrypt/live/example.com/chain.pem

PHP_MEMORY_LIMIT=1024M
PHP_POST_MAX_SIZE=20M
PHP_UPLOAD_MAX_SIZE=50M
PHP_MAX_EXECUTION_TIME=300
PHP_MAX_INPUT_TIME=300
PHP_OPCACHE_SAVE_COMMENTS=1
PHP_OPCACHE_ENABLE=1
